

/*---------------------------------------------------INDEX-------------------------------------------------------------*/

.all-content {

    background-color: #2B448A;
    width: 100%;
    height: 100%;
    padding-top: 3em;
    display: grid;
    grid-template-columns: auto auto;          
    grid-template-rows: auto auto auto auto;
    row-gap: 4em;
    

    grid-template-areas: "gif1 text1"
                         "text2 gif2"
                         'gif3 text3'
                         'text4 imagen4';

}

#logo {

    width: 4em;

}

/*----------CARRUSEL----------*/

#slide {

    width: auto;
    height: 32em;

}

/*-------------------------PRIMER BLOQUE------------------- */




.gif1 {

    text-align: center;

}

.gif11 {

    
    grid-area: gif1;
    


}

.text1 {

    padding: 5vw;

}

.text1 .content1 {

    text-align: center;
    grid-area: text1;


}



.text1 .title {

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 4em;

}

.text1 .content {

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    
    

}

/*--------------------SEGUNDO BLOQUE---------------------- */

.gif2 {

    text-align: center;

}



.gif22 {

    width: auto;
    grid-area: gif2;
}


.text2 {

    text-align: center;
    padding: 5vw;
    grid-area: text2;
    

}

.text2 .title {

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 4em;

}

.text2 .content {

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    /*padding-left: 2em;
    padding-right: 2em;*/
    

}


/*--------------------TERCER BLOQUE---------------------- */


.gif3 {

    text-align: center;

}



.gif33 {

    width: auto;
    grid-area: gif2;
}


.text3 {

    grid-area: text3;

}

/*------------------CUARTO BLOQUE (TEXTO)-------------------*/

.text3,
.text4 {

    text-align: center;
    padding: 5vw
    
}

.text3 .title,
.text4 .title {

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 4em;    
    
}

.text3 .content,
.text4 .content {

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
       
    
}




/*----------------FOOTER-----------------*/
#logo-footer {

    width: 5em;
    text-align: center;

}


.grid-footer {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}


/*----------LAST FOOTER---------------*/
.last-footer {

    display: grid;

}

.text-last-footer {

    text-align: center;
    background-color: black;
    height: 2vw;
    overflow: hidden;

}



.text-last-footer span {

    color: white;
    font-family: 'Josefin Sans', sans-serif;
    animation: change-phrase 6s ease infinite;
    position: relative;
}


/*----------------------------------------BORDER RADIUS IMAGENES--------------------------------*/

.imagen,
.imagen2,
.imagen3,
.imagen4 {

    border-radius: 10px;

}


/*-------ICONOS DE LINKS--------*/
.buttons {

    position: fixed;
    display: grid;
    top: 40%;
    left: 1%;
    gap: 1em;
    animation: reveal-text linear both;
    animation-timeline: scroll();
    animation-range-start: 5%;
    animation-range-end: 20%;


}

.of-buttons {

    width: 1.9em;
    transition: transform 0.5s ease-in-out;
}


/*-----------------ANIMACIONES------------------*/

.image2,
.image3,
.image4 {

    transition: transform 0.5s ease-in-out;

} 


.image2:hover,
.image3:hover,
.image4:hover {

    transform: translateY(-15px);

}


.text1,
.text2,
.text3,
.text4 {

    animation: reveal-text linear both;
    animation-timeline: view();
    animation-range-start: 20%;
    animation-range-end: 33%;
    padding-top: 11vw;

}

.of-buttons:hover {

    transform: translateY(-4px);

}

@keyframes reveal-text {

    from {

        opacity: 0;
        translate: 0 100px;

    }

    to {

        opacity: 1;
        translate: 0 0;

    }

}

@keyframes change-phrase {

    0%,
    100% {

        top: 0;

    }

    50% {

        top: -52px;

    }

}

@keyframes change-phrase-mobile {

    0%,
    100% {

        top: 0;

    }

    50% {

        top: -44px;

    }

}

/*------------------------------------------------PAGINAS ANEXAS----------------------------------------------*/

.all-content-who {

    background-color: #2B448A;
    width: 100%;
    height: 100%;
    padding-top: 7.5em;
    display: grid;
    grid-template-columns: auto ;          
    grid-template-rows: auto auto auto auto;
    row-gap: 4em;
    

    grid-template-areas: "titlegeneral";
    

}

.all-content-desymer {

    background-color: #2B448A;
    width: 100%;
    height: 100%;
    padding-top: 7.5em;
    display: grid;
    grid-template-columns: auto ;          
    grid-template-rows: auto auto auto auto;
    row-gap: 4em;
    

    grid-template-areas: "titlegeneral";
    

}

.all-content-alycen {

    background-color: #2B448A;
    width: 100%;
    height: 100%;
    padding-top: 7.5em;
    display: grid;
    grid-template-columns: auto ;          
    grid-template-rows: auto auto auto auto;
    row-gap: 4em;
    

    grid-template-areas: "titlegeneral";
    

}


.all-content-titles .title-general {

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 3em;   
    grid-column: 2/4;
    text-align: center;
    grid-area: titlegeneral;

}






/*---------------------------------------------MEDIA QUERIES---------------------------------------------------------*/

@media only screen and (max-width: 976px) {

    .all-content {

        grid-template-columns: 1fr;

        grid-template-rows: repeat(8, auto);

        grid-template-areas: 'gif1'
                             "text1"
                             'gif2'
                             'text2'
                             'gif3'
                             'text3'
                             'imagen4'
                             'text4';
        padding-top: 6.8em;
        
        
    }

    .text1 .title,
    .text2 .title,
    .text3 .title,
    .text4 .title {

        font-size: 15vw;

    }

    .content1 .content,
    .content2 .content,
    .text3 .content,
    .text4 .content {

        font-size: 9vw;

    }

    video {

        width: 100%;
        height: auto;
        

    }

    .text-last-footer {

        
        height: 1.2em;
        

    }

    .text-posta {

        font-size: 4vw;

    }

    .text-last-footer span {

        animation: change-phrase-mobile 6s ease infinite;

    }



    .carousel-inner {

        display: none;

    }

    .buttons {

        display: none;

    }

}